h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.body {
  width: 1600px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.homepagebox {
  width: 1200px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toplinenavigation {
  position: absolute;
  width: 1200px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 44px;
  margin-right: 44px;
}
.logoblue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logoblue:hover,
.focus {
  text-decoration: underline;
}
.logoblack {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logoblack:hover,
.focus {
  text-decoration: underline;
}
.logoandlinks {
  justify-content: center;
  display: inline-flex;
  gap: 93px;
}
.menulinklist {
  display: flex;
  gap: 46px;
  padding-top: 12px;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  text-decoration: none;
}
.link:hover,
.focus {
  color: #212121;
  text-decoration: underline;
}

.communication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.communication:hover,
.focus {
  color: #2196f3;
}
.communicationbox {
  display: flex;
  gap: 50px;
}

.filterscontainer {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.filters {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  box-shadow: none;
  border: none;
  margin-bottom: 56px;
}
.filters:hover,
.focus {
  color: #ffffff;
  background-color: #2196f3;
}
.filterlist {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.photolist {
  padding: 0;
}
.card-set {
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  box-sizing: border-box;

  max-width: 370px;
  height: 404px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 2 * 30px) / 3);
}
figure {
  margin: 0;
  width: 370;
}
.headline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}
.category {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}
.textbelowphotos {
  margin-top: 20px;
}
.backgroundbox {
  width: 1200px;
  height: 252px;
  background: #2f303a;
}
.footeradress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.footerstyles {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
}
.footerlogo {
  display: flex;
  margin-top: 60px;
}
.communicationfooter {
  margin-bottom: 9px;
}
