h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}

.filters:hover,
.focus {
  color: #ffffff;
  background-color: #2196f3;
}
.filters {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
}
.link:hover,
.focus {
  color: #2196f3;
  text-decoration: underline;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  text-decoration: none;
}
.communication:hover,
.focus {
  color: #2196f3;
}
.communication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #757575;

  padding-left: 50px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.headline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.category {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: #757575;
}
.logoblue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;

  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 25px;
}
.logoblue:hover,
.focus {
  text-decoration: underline;
}
.logoblack {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logoblack:hover,
.focus {
  text-decoration: underline;
}
.homepagewelcomemessage {
  background: #2f303a;
  font-family: "Roboto";
  font-style: normal;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.orderbutton {
  font-family: "Roboto";
  font-style: normal;

  display: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.textheadline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.textcontent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.sectionheadline {
  font-family: "Roboto";
  font-style: normal;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.ourteamname {
  font-family: "Roboto";
  font-style: normal;

  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.ourteamfunction {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.toplinenavigation {
  width: 1200px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .link {
  display: inline-flex;

  margin-top: 32px;
  margin-right: 46px;
  margin-bottom: 32px;
  margin-left: 46px;
}
.menu .link:first-child {
  margin-left: 0;
  margin-right: 0;
}

.menu .link:last-child {
  margin-right: 0;
  margin-left: 0;
}

.communicationbox {
  display: flex;
  justify-content: flex-end;
}
.filterscontainer {
  margin-top: 180px;
  margin-right: 532px;
  margin-left: 540px;

  display: flex;
  justify-content: center;
}
.filters {
  box-shadow: none;
  border: none;
  margin-left: 8px;
  margin-bottom: 56px;
}

.card-set {
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  box-sizing: border-box;

  max-width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 2 * 30px) / 3);
}
figure {
  margin: 0;
  width: 370;
}

.footerstyles {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
  display: block;
}
.footeradress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
  margin-left: 215px;
}
