h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.toplinenavigation {
  position: absolute;
  width: 1200px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}
.logoblue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 0px;
  margin-right: 93px;
}
.logoblue:hover,
.focus {
  text-decoration: underline;
}
.logoblack {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logoblack:hover,
.focus {
  text-decoration: underline;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  text-decoration: none;
}
.link:hover,
.focus {
  color: #212121;
  text-decoration: underline;
}
.menu .link:first-child {
  margin-left: 0;
  margin-right: 0;
}
.menu .link:nth-child(2) {
  margin-right: 46px;
  margin-left: 46px;
}
.menu .link:last-child {
  margin-right: 0;
  margin-left: 0;
}
.communication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.communication:hover,
.focus {
  color: #2196f3;
}
.communicationbox {
  margin-left: 364px;
  margin-right: 0px;
}
.communicationbox .communication:first-child {
  margin-right: 50px;
}
.filterscontainer {
  margin-top: 180px;
  margin-bottom: ;
  margin-left: ;
  margin-right: ;
}
.filters {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  box-shadow: none;
  border: none;
  margin-left: 8px;
  margin-bottom: 56px;
}
.filters:hover,
.focus {
  color: #ffffff;
  background-color: #2196f3;
}
ul {
  display: flex;
  justify-content: center;
}
